/* Estilos para la página web escolar */

/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dfefff;
}

/* Estilos para el encabezado */
header {
    background-color: #77bafd;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

h1 {
    margin: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav:before{
    background: linear-gradient(-90deg,hsla(0, 0%, 36%, 0),hsl(208, 23%, 33%));
}
nav::after{
    background: linear-gradient(-90deg,hsla(0, 0%, 96.9%, 0),hsl(0, 0%, 100%));
}
nav li {
    margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}
nav li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-right: 260px;
}

section {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 70px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
}

/* Estilos para el pie de página */
footer {
    background-color: #353535;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: relative;
    right: 0;
    left: 0;
}
/* Estilos para la sección lateral */
.sidebar {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(30% - 20px);
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 150px;
    width: 250px;
    height: 100%;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.article {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-basis: calc(70% - 20px);
    margin-bottom: 20px;
}


.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

/*slider*/
.slider{
    margin-top: 100px;
    display: flex;
    height: auto;
    overflow: hidden;
    align-items: center;
    z-index: -1;
}
.slider:before{
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 25%;
    height: 210px;
    background: linear-gradient(-90deg,hsla(0, 0%, 96.9%, 0),hsl(210, 100%, 94%));
}
.slider:after{
position: absolute;
right: 0;
content: "";
width: 25%;
height: 210px;
background: linear-gradient(90deg,hsla(0, 0%, 96.9%, 0),hsl(210, 100%, 94%) 99%);
margin-right: 260px;
    }

.slider .slide-track{
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
}

.slider .slide{
    display: flex;
}
.slide{
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    ;
}


.slider .slide img{
    width: 280px;
    height: 180px;
    padding: 10x;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-240px *5));
        transform: translateX(calc(-240px *5));
    }
}